  header { 
    grid-area: header; 
}

  nav {
    grid-area: nav;
  }

   main {
    grid-area: main;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 4px;
    width: 100%;
    font-family: "eurostile", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
}

.cell {
    display: flex;
    aspect-ratio: 1/1;
    justify-content: center;
}

.intro {
    font-family: "eurostile", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }

img {
    width: 100%;
    height: auto;
}

nav li:first-child {
    font-weight: 700;
}

footer {
  grid-area: footer;
}

h2 {
  font-size: 40px;
  margin: 0px;
  }

p {
  font-size: 16px;
  padding: 0px;
  margin-bottom: 200px;
  }

  @media (min-width: 950px) { 
/*need breakpoints from 875 - 526*/

  .container {
    display: flex;
    gap: 12px;
    max-width: 650px;
    }
  
  main {
    grid-area: main;
    padding-right: 350px;
    width: 100%;
  }
  
  .grid {
    width: 100%;
    flex: 1;
    align-items: center;
    font-family: "eurostile", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
  }
  
  .cell {
    flex: 1;
    }

  .intro {
    font-family: "eurostile", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }

   footer {
    grid-area: footer;

   }
  }