body {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    margin: 40px;
    font-family: "eurostile", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


header {
    grid-area: header;
    height: 120px;
    border-bottom: solid black 1px;
}

header img {
    width: 100%;
    height: auto;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 48px;
    justify-content: space-evenly;
    padding: 0px;
    margin: 20px 0px 20px 0px;  
}

ul a {
  text-decoration: none;
  color: black;
  }

nav li:first-child {
    font-weight: 700;
}

main { 
    grid-area: main;
    justify-content: center;
}

/*end of global styles*/


.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 4px;
    width: 100%;
    font-family: "eurostile", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
}

.cell {
    display: flex;
    aspect-ratio: 1/1;
    justify-content: center;
}

.intro {
    font-family: "eurostile", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }

img {
    width: 100%;
    height: auto;
}

footer { /*also global style*/
  grid-area: footer;
}

footer ul { /*also global style*/
  list-style: none;
  padding: 0px;
}

footer li {
    font-size: 14px;
}

h2 {
  font-size: 40px;
  margin: 0px;
  }

p {
  font-size: 16px;
  padding: 0px;
  margin-bottom: 200px;
  }

  @media (min-width: 950px) { /*header, nav ul & h2 = global*/
 
/*need breakpoints from 875 - 526*/

  header {
  grid-area: header;
  margin-bottom: 20px;
  padding-right: 250px;
  border-bottom: solid black 1px;
  }

  header img {
    width: 30%;
    height: auto;
  }
  
  body {
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header" "header"
    "main" "main"
    "footer" "footer";
 font-family: "eurostile", sans-serif;
 font-weight: 400;
 font-style: normal;
 margin: 40px;

}
  
  .container {
    display: flex;
    gap: 12px;
    max-width: 650px;
    }
  
  main {
    display: flex;
    grid-area: main;
    padding-right: 350px;
  }
  
  .grid {
    width: 100%;
    flex: 1;
    align-items: center;
    font-family: "eurostile", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
  }
  
  .cell {
    flex: 1;
    }

  .intro {
    font-family: "eurostile", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }

  nav {
    width: 100%;
}
  
  nav ul {
    flex-direction: column;
    flex: 1;
    gap: 16px;
    width: 100%;
    align-items: flex-start;
    margin: 0px 160px 0px 0px
  }
  
  li {
    font-size: 18px;
  }

  h2 {
  font-size: 60px;
}
  }