.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 4px;
    width: 100%;
    font-family: "eurostile", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
}

.cell {
    display: flex;
    aspect-ratio: 1/1;
    justify-content: center;
}

.intro {
    font-family: "eurostile", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }

img {
    width: 100%;
    height: auto;
}

footer { /*also global style*/
  grid-area: footer;
}

footer ul { /*also global style*/
  list-style: none;
  padding: 0px;
}

footer li {
    font-size: 14px;
}

h2 {
  font-size: 40px;
  margin: 0px;
  }

p {
  font-size: 16px;
  padding: 0px;
  margin-bottom: 200px;
  }

  @media (min-width: 950px) { /*header, nav ul & h2 = global*/
 
/*need breakpoints from 875 - 526*/
  .container {
    display: flex;
    gap: 12px;
    max-width: 650px;
    }
  
  main {
    display: flex;
    grid-area: main;
    padding-right: 350px;
  }
  
  .grid {
    width: 100%;
    flex: 1;
    align-items: center;
    font-family: "eurostile", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
  }
  
  .cell {
    flex: 1;
    }

  .intro {
    font-family: "eurostile", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }
  }