 header { 
    grid-area: header; 
}

  nav {
    grid-area: nav;
  }

 main {
    grid-area: main;
    width: 100%;
}

.container {
    width: 100%;
    height: auto;
    margin-bottom: 200px;
    gap: 2px; 
}

figure img {
  width: 100%;
  height: auto;
  }

nav li:nth-child(3) {
    font-weight: 700;
}

footer {
  grid-area: footer;
}

@media (min-width: 920px) {

  nav {
    grid-area: nav;
  }  

  main {
    grid-area: main;
    width: 100%;
  }

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

figure {
    margin: 0px;
}

figure img {
    width: 100%;
    height: auto;
}

 footer {
    grid-area: footer;
 }
}