 header { 
    grid-area: header; 
}

  nav {
    grid-area: nav;
  }

   main {
    grid-area: main;
    width: 100%;
}

.content {
    margin-bottom: 200px;
}

nav li:nth-child(4) {
    font-weight: 700;
}

  footer {
    grid-area: footer;
  }

@media (min-width: 920px) {

 
}