body {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    margin: 40px;
    font-family: "eurostile", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    grid-area: header;
    height: 120px;
    border-bottom: solid black 1px;
}

header img {
    width: 100%;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 48px;
    justify-content: space-evenly;
    padding: 0px;
    margin: 20px 0px 20px 0px; 
}

nav ul {
    display: flex;
    list-style: none;
    gap: 48px;
    justify-content: space-evenly;
    padding: 0px;
    margin: 20px 0px 20px 0px; 
}

ul a {
    text-decoration: none;
    color: black;
  }

nav li:nth-child(4) {
    font-weight: 700;
}

main {
    grid-area: main;
}

.content {
    margin-bottom: 200px;
}

  footer { /*also global style*/
  grid-area: footer;
}

  footer ul { /*also global style*/
  list-style: none;
  padding: 0px;
}

footer li {
    font-size: 14px;
}

@media (min-width: 920px) { /*header, nav ul & h2 = global*/
  
header {
  grid-area: header;
  margin-bottom: 20px;
  padding-right: 250px;
  border-bottom: solid black 1px;
  }

header img {
    width: 30%;
    height: auto;
  }

  nav ul {
    flex-direction: column;
    flex: 1;
    gap: 16px;
    width: 100%;
    align-items: flex-start;
    margin: 0px 160px 0px 0px
  }

  main {
    display: flex;
    grid-area: main;
}

   li {
    font-size:18px;
  }
}