.content {
    margin-bottom: 200px;
}

  footer { /*also global style*/
  grid-area: footer;
}

  footer ul { /*also global style*/
  list-style: none;
  padding: 0px;
}

footer li {
    font-size: 14px;
}

@media (min-width: 920px) { /*header, nav ul & h2 = global*/

  main {
    display: flex;
    grid-area: main;
}

   li {
    font-size:18px;
  }
}